Package: com.local.spotifyeqpro
Name: SpotifyEQPro
Version: 0.2.0
Architecture: iphoneos-arm
Description: In-process ten-band EQ and custom presets for sideloaded Spotify.
Maintainer: local
Author: local
Section: Multimedia
